//Colors
$blackColor: rgb(26, 26, 26);
$whiteColor: rgb(232, 232, 232);
$redColor: rgb(175, 2, 2);

//Fonts
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: 'Times New Roman', Times, Serif;

@mixin buttonStyle {
    width: 200px;
    height: 40px;
    background-color: $redColor;
    border: none;
    border-radius: 8px;
    color: $whiteColor;
    font-size: 25px;
}