@import "../Variables/Variables.scss";



.MainPage{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: $redColor;
}

  button {
    @include buttonStyle();
  }
